@use "border" as b;
@use "font" as f;
@use "color" as c;
@use "padding" as p;
@use "height" as h;
@use "width" as w;
@use "utility" as u;
/*
.btn
*/
@mixin btn-xs {
  @include f.font-size(1.35rem);
  @include p.padding(1rem);
}
.btn-xs {
  @include btn-xs();
}
@mixin btn-s {
  @include f.font-size(2.4rem);
  @include p.padding(1rem);
}
.btn-s {
  @include btn-s();
}
@mixin btn-m {
  @include f.font-size(3.6rem);
  @include p.padding(1rem);
}
.btn-m {
  @include btn-m();
}
@mixin btn-l {
  @include f.font-size(4.8rem);
  @include p.padding(1rem);
}
.btn-l {
  @include btn-l();
}
@mixin btn-xl {
  @include f.font-size(6rem);
  @include p.padding(1rem);
}
.btn-xl {
  @include btn-xl();
}
@mixin btn-xxl {
  @include f.font-size(7.2rem);
  @include p.padding(0 1.75rem 1rem 1.75rem);
}
.btn-xxl {
  @include btn-xxl();
}

/*
.btn-square
*/
@mixin btn-square-xs {
  @include w.width(2.6rem);
  @include h.height(2.6rem);
  @include f.font-size(2.6rem);
}
.btn-square-xs {
  @include btn-square-xs();
}
@mixin btn-square-s {
  @include w.width(3.6rem);
  @include h.height(3.6rem);
  @include f.font-size(3.6rem);
}
.btn-square-s {
  @include btn-square-s();
}
@mixin btn-square-m {
  @include w.width(4.8rem);
  @include h.height(4.8rem);
  @include f.font-size(3.6rem);
}
.btn-square-m {
  @include btn-square-m();
}
@mixin btn-square-l {
  @include w.width(6rem);
  @include h.height(6rem);
  @include f.font-size(4.8rem);
}
.btn-square-l {
  @include btn-square-l();
}

@mixin btn-square-xl {
  @include w.width(7.2rem);
  @include h.height(7.2rem);
  @include f.font-size(6rem);
}
.btn-square-xl {
  @include btn-square-xl();
}
@mixin btn-square-xxl {
  @include w.width(8.4rem);
  @include h.height(8.4rem);
  @include f.font-size(7.2rem);
}
.btn-square-xxl {
  @include btn-square-xxl();
}

/*
.btn-circle
*/
@mixin btn-circle-xs {
  @include w.width(2.6rem);
  @include h.height(2.6rem);
  @include b.b-radius(50%);
}
.btn-circle-xs {
  @include btn-circle-xs();
}
@mixin btn-circle-s {
  @include w.width(3.6rem);
  @include h.height(3.6rem);
  @include b.b-radius(50%);
}
.btn-circle-s {
  @include btn-circle-s();
}
@mixin btn-circle-m {
  @include w.width(4.8rem);
  @include h.height(4.8rem);
  @include b.b-radius(50%);
}
.btn-circle-m {
  @include btn-circle-m();
}
@mixin btn-circle-l {
  @include w.width(6rem);
  @include h.height(6rem);
  @include b.b-radius(50%);
}
.btn-circle-l {
  @include btn-circle-l();
}

@mixin btn-circle-xl {
  @include w.width(7.2rem);
  @include h.height(7.2rem);
  @include b.b-radius(50%);
}
.btn-circle-xl {
  @include btn-circle-xl();
}
@mixin btn-circle-xxl {
  @include w.width(8.4rem);
  @include h.height(8.4rem);
  @include b.b-radius(50%);
}
.btn-circle-xxl {
  @include btn-circle-xxl();
}
/*
.btn classes & colors
*/
.btn {
  @include u.transition(background-color, u.$time);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: c.$carbon;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.6rem;
  &-red {
    background-color: c.$red;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$red-dark;
    }
    &:disabled {
      background-color: c.$red-light;
    }
  }
  &-blue {
    background-color: c.$blue;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$blue-dark;
    }
    &:disabled {
      background-color: c.$blue-light;
    }
  }
  &-yellow {
    background-color: c.$yellow;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$yellow-dark;
    }
    &:disabled {
      background-color: c.$yellow-light;
    }
  }
  &-orange {
    background-color: c.$orange;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$orange-dark;
    }
    &:disabled {
      background-color: c.$orange-light;
    }
  }
  &-purple {
    background-color: c.$purple;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$purple-dark;
    }
    &:disabled {
      background-color: c.$purple-light;
    }
  }
  &-pink {
    background-color: c.$pink;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$pink-dark;
    }
    &:disabled {
      background-color: c.$pink-light;
    }
  }
  &-green {
    background-color: c.$green;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$green-dark;
    }
    &:disabled {
      background-color: c.$green-light;
    }
  }
  &-black {
    background-color: c.$carbon;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$carbon-dark;
    }
    &:disabled {
      background-color: c.$carbon-light;
    }
  }
  &-navy {
    background-color: c.$navy;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$navy-dark;
    }
    &:disabled {
      background-color: c.$navy-light;
    }
  }
  &-grey {
    background-color: c.$grey;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$grey-dark;
    }
    &:disabled {
      background-color: c.$grey-light;
    }
  }
  &-brown {
    background-color: c.$brown;
    color: c.$white;
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: c.$brown-dark;
    }
    &:disabled {
      background-color: c.$brown-light;
    }
  }
}
/*
scheme colors
*/
@media (prefers-color-scheme: dark) {
  button {
    background-color: c.$black-ultra-light;
  }
}

@media (prefers-color-scheme: light) {
  button {
    background-color: c.$white-ultra-light;
  }
}
