@use "border" as b;
@use "filter" as flt;
@use "color" as c;
@use "padding" as p;
@use "height" as h;
@use "width" as w;
@use "utility" as u;
@use "flexbox" as flx;

/*
Button properties shared
*/
@mixin btn-shared() {
  @include flx.align-items(center);
  background-color: c.$transparent;
  @include b.border(c.$transparent);
  color: c.$carbon;
  @include flx.d-inline-flex();
  font-weight: 400;
  @include flx.justify-content(center);
  text-align: center;
  @include u.transition(all, u.$time);
  vertical-align: middle;
}

/*
.btn 
*/
@mixin btn() {
  @include btn-shared();
  @include b.b-smooth();
}

/*
Font sizes for .btn-*
*/
@mixin btn-s {
  font-size: clamp(1.6rem, 1.46rem + 0.5vw, 2.4rem);
}
@mixin btn-m {
  font-size: clamp(2.4rem, 2.26rem + 0.5vw, 3.2rem);
}
@mixin btn-l {
  font-size: clamp(3.2rem, 3.06rem + 0.5vw, 4rem);
}
@mixin btn-xl {
  font-size: clamp(4rem, 3.86rem + 0.5vw, 4.8rem);
}
@mixin btn-xxl {
  font-size: clamp(4.8rem, 4.66rem + 0.5vw, 5.6rem);
}

.btn-s {
  @include btn();
  @include btn-s();
  @include p.padding(0 0.75rem);
}
.btn-m {
  @include btn();
  @include btn-m();
  @include p.padding(0 1rem);
}
.btn-l {
  @include btn();
  @include btn-l();
  @include p.padding(0 1.25rem);
}
.btn-xl {
  @include btn();
  @include btn-xl();
  @include p.padding(0 1.75rem);
}
.btn-xxl {
  @include btn();
  @include btn-xxl();
  @include p.padding(0 1.75rem);
}

/*
Sizes for .btn-square-* & .btn-circle-*
*/
@mixin btn-size-s() {
  @include w.width(4rem);
  @include h.height(4rem);
}
@mixin btn-size-m() {
  @include w.width(4.8rem);
  @include h.height(4.8rem);
}
@mixin btn-size-l() {
  @include w.width(5.6rem);
  @include h.height(5.6rem);
}
@mixin btn-size-xl() {
  @include w.width(6.4rem);
  @include h.height(6.4rem);
}
@mixin btn-size-xxl() {
  @include w.width(7.2rem);
  @include h.height(7.2rem);
}

/*
.btn-square-*
*/
@mixin btn-square() {
  @include btn-shared();
  @include b.b-smooth();
}
.btn-square-s {
  @include btn-square();
  @include btn-size-s();
}
.btn-square-m {
  @include btn-square();
  @include btn-size-m();
}
.btn-square-l {
  @include btn-square();
  @include btn-size-l();
}
.btn-square-xl {
  @include btn-square();
  @include btn-size-xl();
}
.btn-square-xxl {
  @include btn-square();
  @include btn-size-xxl();
}

/*
.btn-circle-*
*/
@mixin btn-circle() {
  @include btn-shared();
  @include b.b-radius(50%);
}
.btn-circle-s {
  @include btn-circle();
  @include btn-size-s();
}
.btn-circle-m {
  @include btn-circle();
  @include btn-size-m();
}
.btn-circle-l {
  @include btn-circle();
  @include btn-size-l();
}
.btn-circle-xl {
  @include btn-circle();
  @include btn-size-xl();
}
.btn-circle-xxl {
  @include btn-circle();
  @include btn-size-xxl();
}

/*
.btn-colors-*
*/
.btn-white {
  background-color: c.$white;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$grey;
  }
  &:disabled {
    background-color: c.$grey-light;
    opacity: 0.33;
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grey {
  background-color: c.$grey;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$grey-dark;
  }
  &:disabled {
    background-color: c.$grey-light;
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-navy {
  background-color: c.$navy;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$navy-dark;
  }
  &:disabled {
    background-color: c.$navy-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-yellow {
  background-color: c.$yellow;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$yellow-dark;
  }
  &:disabled {
    background-color: c.$yellow-light;
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-orange {
  background-color: c.$orange;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$orange-dark;
  }
  &:disabled {
    background-color: c.$orange-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-brown {
  background-color: c.$brown;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$brown-dark;
  }
  &:disabled {
    background-color: c.$brown-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-pink {
  background-color: c.$pink;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$pink-dark;
  }
  &:disabled {
    background-color: c.$pink-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-purple {
  background-color: c.$purple;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$purple-dark;
  }
  &:disabled {
    background-color: c.$purple-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-red {
  background-color: c.$red;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$red-dark;
  }
  &:disabled {
    background-color: c.$red-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-green {
  background-color: c.$green;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$green-dark;
  }
  &:disabled {
    background-color: c.$green-light;
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-turquoise {
  background-color: c.$turquoise;
  color: c.$text-dark;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$turquoise-dark;
  }
  &:disabled {
    background-color: c.$turquoise-light;
  }
  ion-icon {
    color: c.$text-dark;
  }
}
.btn-blue {
  background-color: c.$blue;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$blue-dark;
  }
  &:disabled {
    background-color: c.$blue-light;
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-black {
  background-color: c.$carbon;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: c.$carbon-dark;
  }
  &:disabled {
    background-color: c.$carbon-light;
  }
  ion-icon {
    color: c.$white;
  }
}

/*
.btn-grad-colors-*
*/
.btn-grad-white {
  background-image: c.$grad-white;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grad-grey {
  background-image: c.$grad-grey;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grad-navy {
  background-image: c.$grad-navy;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-yellow {
  background-image: c.$grad-yellow;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
    color: c.$text-light;
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grad-orange {
  background-image: c.$grad-orange;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-brown {
  background-image: c.$grad-brown;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-pink {
  background-image: c.$grad-pink;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-purple {
  background-image: c.$grad-purple;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-red {
  background-image: c.$grad-red;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-green {
  background-image: c.$grad-green;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    color: c.$text-light;
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grad-turquoise {
  background-image: c.$grad-turquoise;
  color: c.$text-light;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    color: c.$text-light;
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$text-light;
  }
}
.btn-grad-blue {
  background-image: c.$grad-blue;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}
.btn-grad-black {
  background-image: c.$grad-carbon;
  color: c.$white;
  &:hover,
  &:focus,
  &:active,
  &.active {
    @include flt.filter(brightness(80%) contrast(120%));
  }
  &:disabled {
    @include flt.filter(brightness(1.3));
  }
  ion-icon {
    color: c.$white;
  }
}

button ion-icon {
  display: unset;
}
