

/* Slideshow container */
.slideshow-container {
//   position: relative;
//   margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
  
    margin-top: -2.2rem;
  
    color: white;
  
    user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */

/* The dots/bullets/indicators */



