@import 'border';
@import 'font';
@import 'flexbox';
@import 'margin';
@import 'position';
@import 'image';
@import 'padding';
@import 'width';

%card-shared {
    @include border();
    @include display-flex();
    @include margin-direction(top, 1rem);
    @include margin-direction(bottom, 1rem);
    @include position(relative);
    @include flex-direction(column);
    overflow: hidden;
  }

  %card-img-container-shared {
    @include display-flex();
    @include position(relative);
  }

  %card-img-shared {
    @include width(100%);
  }

  %card-title-container-shared {
    @include padding(1rem)
  }

  %card-title-shared {
    @include text-transform(capitalize);
    @include text-ellipsis();
  }

  %card-text {
    @include padding(1rem)
  }

  %card-footer-shared {
    @include align-items(center);
    @include border-top();
    @include display-flex();
    @include justify-content(space-between);
    @include padding(1rem);
  }

  .card {
    @extend %card-shared;
    &-img-container {
        @extend %card-img-container-shared;
       
      }
    &-img {
        @extend %card-img-shared;
    }
    &-title-container {
        @extend %card-title-container-shared;
    }
    &-title {
        @extend %card-title-shared;
    }
    &-text {
        @extend %card-text;
    }
    &-cta-container {
        @include position(absolute);
        bottom: 0;
        right: 0;
    }
    &-cta {
        
    }
    &-footer {
      @extend %card-footer-shared;
    }
  }