@import "border";
@import "color";
@import "font";
@import "flexbox";
@import "margin";
@import "position";
@import "image";
@import "padding";
@import "width";

%card-shared {
  @include b-radius(1rem);
  //@include border();
  @include d-flex();
  @include position(relative);
  @include f-dir-col();
  background-clip: border-box;
  overflow: hidden;
}

%card-img-container-shared {
  @include d-flex();
  @include position(relative);
  //@include border();
}

%card-img-shared {
  @include width(100%);
}

%card-title-container-shared {
  @include padding(1rem);
}

%card-title-shared {
  @include text-transform(capitalize);
  @include text-ellipsis();
  font-size: 3rem;
}

%card-title-overlay-shared {
  @include text-transform(capitalize);
  @include text-ellipsis();
  //border: 0;
  -webkit-filter: drop-shadow(2px 4px 6px $black-light);
  filter: drop-shadow(2px 4px 6px $black-light);
  font-weight: 200;
  font-size: 3rem;
}

%card-info-container-shared {
  @include position(absolute);
  right: 0;
  top: 0;
}
%card-info-text-shared {
  @include padding(0.5rem);
  @include text-transform(uppercase);
  font-size: 1.25rem;
  font-weight: 300;
}
%card-body-shared {
  @include padding(1rem);
  margin-top: auto;
  margin-bottom: auto;
}
%card-text-shared {
  //line-height: 1.15;
}
%card-cta-container-shared {
  @include position(absolute);
  bottom: 0;
  right: 0;
}
%card-cta-shared {
  font-size: 3rem;
  height: 5rem;
  width: 5rem;
}
%card-footer-shared {
  @include align-items(center);
  @include border();
  @include d-flex();
  @include justify-between();
  @include padding(0 0 0 1rem);
}
%card-footer-info-shared {
  font-size: 2rem;
  font-weight: 200;
}

.card {
  @extend %card-shared;
  &-img-container {
    @extend %card-img-container-shared;
  }
  &-img {
    @extend %card-img-shared;
  }
  &-title-container {
    @extend %card-title-container-shared;
  }
  &-title {
    @extend %card-title-shared;
  }
  &-title-overlay {
    @extend %card-title-overlay-shared;
  }
  &-info-container {
    @extend %card-info-container-shared;
  }
  &-info-text {
    @extend %card-info-text-shared;
  }
  &-body {
    @extend %card-body-shared;
  }
  &-text {
    @extend %card-text-shared;
  }
  &-cta-container {
    @extend %card-cta-container-shared;
  }
  &-cta {
    @extend %card-cta-shared;
  }
  &-footer {
    @extend %card-footer-shared;
    &-info {
      @extend %card-footer-info-shared;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    background-color: $black-light;
  }
  .card-title-container {
    background-color: $black-medium;
  }
  .card-info-text {
    background: $black-dark;
  }
  .card-cta {
    background-color: $black-ultra-light;
    color: $text-dark;
  }
  .card-title {
    color: $text-dark;
  }
  .card-title-overlay {
    color: $text-dark;
  }
  .card-footer {
    background-color: $black-ultra-light;
    border-color: $black-medium;
  }
}

@media (prefers-color-scheme: light) {
  .card {
    background-color: $white-medium;
  }
  .card-title-container {
    background-color: $white-medium;
  }
  .card-body {
    background-color: $white-light;
  }
  .card-info-text {
    color: $text-light;
    background: $white-dark;
  }
  .card-cta {
    background-color: $white-ultra-light;
    color: $text-light;
  }
  .card-title {
    color: $text-light;
  }
  .card-title-overlay {
    color: $white-light;
  }
  .card-footer {
    background-color: $white-ultra-light;
    border-color: $white-medium;
  }
}
