@import "border";
@import "color";
@import "font";
@import "flexbox";
@import "margin";
@import "position";
@import "image";
@import "padding";
@import "width";
@import "height";

%card-shared {
  @include d-flex();
  @include position(relative);
  @include f-dir-col();
  background-clip: border-box;
  overflow: hidden;
  &%-h-shared {
    @include f-dir-row-reverse();
    @include flex-wrap(wrap);
    & .card-header {
      flex: 1 1 50%;
      height: 50%;
    }
    & .card-title,
    & .card-header-cta {
      margin-bottom: auto;
    }
    & .card-img-container {
      flex: 1 1 50%;
    }
    & .card-footer {
      flex: 0 1 50%;
      height: 50%;
      margin-top: -35%;
    }

    &.card-info-container,
    & .card-cta-container {
      margin-top: auto;
    }
  }
}
%card-img-shared {
  @include width(100%);
}
%card-header-shared {
  @include d-flex();
  @include justify-between();
  @include padding(1rem);
  @include align-items(center);
}
%card-header-cta-shared {
  @include width(3.6rem);
  @include height-rem(3.6rem);
  @include b-radius(50%);
}
%card-title-shared {
  @include text-transform(capitalize);
  @include text-ellipsis();
  font-size: 2.4rem;
  font-weight: 300;
}
%card-body-shared {
  display: none;
}
%card-footer-shared {
  @include d-flex();
  @include justify-between();
  @include align-items(center);
  @include padding(1.5rem 1rem);
}
%card-info-text-shared {
  font-size: 1.6rem;
  font-weight: 300;
}
%card-footer-cta-shared {
  @include padding(0);
}

.card {
  @extend %card-shared;
  &-header {
    @extend %card-header-shared;
    &-cta {
      @extend %card-header-cta-shared;
    }
  }
  &-img {
    @extend %card-img-shared;
  }
  &-title {
    @extend %card-title-shared;
  }
  &-body {
    @extend %card-body-shared;
  }
  &-footer {
    @extend %card-footer-shared;
    &-cta {
      @extend %card-footer-cta-shared;
    }
  }
  &-info-text {
    @extend %card-info-text-shared;
  }
  &-h {
    @extend %-h-shared;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .card-footer {
    background-color: $black-light;
  }
  .card-header-cta,
  .card-footer-cta,
  .card-title {
    color: $text-dark;
  }
  .card-header {
    background-color: $black-medium;
  }
  .card-header-cta {
    background-color: $black-ultra-light;
  }
  .card-footer-cta {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: light) {
  .card,
  .card-header {
    background-color: $white-medium;
  }
  .card-body,
  .card-footer {
    background-color: $white-light;
  }
  .card-info-text,
  .card-header-cta,
  .card-footer-cta,
  .card-title {
    color: $text-light;
  }
  .card-header-cta {
    background-color: $white-ultra-light;
  }
  .card-footer-cta {
    background-color: transparent;
  }
}
