@use "color" as c;
@use "border" as b;
@use "utility" as u;
@use "width" as w;
@use "height" as h;
@use "padding" as p;

pre[rel]::before {
  background-color: c.$grey;
  color: c.$text-dark;
  content: attr(rel);
  font-family: "Inconsolata", monospace;
  font-size: clamp(1.6rem, 1.4600rem + 0.5000vw, 2.4rem);
  left: 0;
  position: absolute;
  text-indent: 1.5rem;
  top: 0;
  @include w.width(100%);
}

pre {
  background-color: c.$carbon;
  @include c.dark-theme() {
    @include b.border(c.$text-dark);
  }
  @include c.light-theme() {
    @include b.border(c.$carbon);
  }
  clear: both;
  color: c.$blue;
  font-family: "Inconsolata", monospace;
  hyphens: none;
  line-height: 2rem;
  @include w.min-width(100%);
  overflow: auto;
  position: relative;
  word-break: normal;
  &:hover {
    cursor: pointer;
  }
}

pre code {
  @include u.d-block();
  font-family: "Inconsolata", monospace;
  @include p.padding-direction(left, 2rem);
  white-space: pre;
}

code span {
  font-size: 1.6rem;
}

// .hljs {
//   background-color: c.$carbon;
// }

// .hljs-bullet, .hljs-deletion, .hljs-name, .hljs-selector-tag, .hljs-template-variable, .hljs-variable {
//   color: c.$navy;
// }

// .hljs-attr, .hljs-link, .hljs-literal, .hljs-number, .hljs-symbol, .hljs-variable.constant_ {
//   color: c.$link;
// }

// .hljs-addition, .hljs-code, .hljs-string, .hljs-title.class_.inherited__ {
//   color: c.$blue;
// }

// .hljs-tag {
//   color: c.$text-dark;
// }
