$black: #333333;//767676
$blue: #4D91C6;
$gray: #8E918F;
$orange: #F48037;
$green: #009B74;
$pink: #D23C77;
$red: #BF1932;
$taupe: #AD9F93;
$turquoise: #45B5AA;
$violet: #C180B5;
$yellow: #FFC300;
$white: #FFFFFC;

//OPEN black
@mixin bg-black($bgColor) {
    .bg-black {
        background-color: $bgColor;
    }
    .black{
        color: $bgColor;
    }
}
@include bg-black($black);
//CLOSE black

//OPEN blue
@mixin bg-blue($bgColor) {
    .bg-blue {
        background-color: $bgColor;
    }
    .blue{
        color: $bgColor;
    }
}
@include bg-blue($blue);
//CLOSE blue

//OPEN gray
@mixin bg-gray($bgColor) {
    .bg-gray {
        background-color: $bgColor;
    }
    .gray{
        color: $bgColor;
    }
}
@include bg-gray($gray);
//CLOSE gray

//OPEN orange
@mixin bg-orange($bgColor) {
    .bg-orange {
        background-color: $bgColor;
    }
    .orange{
        color: $bgColor;
    }
}
@include bg-orange($orange);
//CLOSE orange

//OPEN green
@mixin bg-green($bgColor) {
    .bg-green {
        background-color: $bgColor;
    }
    .green{
        color: $bgColor;
    }
}
@include bg-green($green);
//CLOSE green

//OPEN pink
@mixin bg-pink($bgColor) {
    .bg-pink {
        background-color: $bgColor;
    }
    .pink{
        color: $bgColor;
    }
}
@include bg-pink($pink);
//CLOSE pink

//OPEN red
@mixin bg-red($bgColor) {
    .bg-red {
        background-color: $bgColor;
    }
    .red{
        color: $bgColor;
    }
}
@include bg-red($red);
//CLOSE red

//OPEN taupe
@mixin bg-taupe($bgColor) {
    .bg-taupe {
        background-color: $bgColor;
    }
    .taupe{
        color: $bgColor;
    }
}
@include bg-taupe($taupe);
//CLOSE taupe

//OPEN turquuoise
@mixin bg-turquoise($bgColor) {
    .bg-turquoise {
        background-color: $bgColor;
    }
    .turquoise{
        color: $bgColor;
    }
}
@include bg-turquoise($turquoise);
//CLOSE turquoise

//OPEN violet
@mixin bg-violet($bgColor) {
    .bg-violet {
        background-color: $bgColor;
    }
    .violet{
        color: $bgColor;
    }
}
@include bg-violet($violet);
//CLOSE vilet

//OPEN yellow
@mixin bg-yellow($bgColor) {
    .bg-yellow {
        background-color: $bgColor;
    }
    .yellow{
        color: $bgColor;
    }
}
@include bg-yellow($yellow);
//CLOSE yellow

//OPEN white
@mixin bg-white( $bgColor) {
    .bg-white {
        background-color: $bgColor;
    }
    .white {
        color: $bgColor;
    }
}
@include bg-white($white);
//CLOSE white




