/*
vars definition dark / light 
*/
$black: #000000;
$text-dark: #eee;
$black-dark: #323232;
$link-dark: #436f70;
$link: #54bbb6;
$white: #ffffff;
$text-light: #323232;
$transparent: transparent;
$color-shadow: rgb(119 119 119 / 26%);
$color-shadow-dark: rgb(0 0 0 / 50%);

/*
colors
*/
$red: #d50000;
$red-light: #ff5131;
$red-dark: #9b0000;
$yellow: #ffd600;
$yellow-light: #ffff52;
$yellow-dark: #c7a500;
$blue: #0091ea;
$blue-light: #64c1ff;
$blue-dark: #0064b7;
$green: #64dd17;
$green-light: #9cff57;
$green-dark: #1faa00;
$purple: #aa00ff;
$purple-light: #e254ff;
$purple-dark: #7200ca;
$orange: #ff6d00;
$orange-light: #ff9e40;
$orange-dark: #c43c00;
$pink: #c51162;
$pink-light: #fd558f;
$pink-dark: #8e0038;
$brown: #8d6e63;
$brown-light: #be9c91;
$brown-dark: #5f4339;
$grey: #bdbdbd;
$grey-light: #efefef;
$grey-dark: #8d8d8d;
$navy: #78909c;
$navy-light: #a7c0cd;
$navy-dark: #4b636e;
$carbon: #212121;
$carbon-light: #484848;
$carbon-dark: #000000;

/*
vars definition for classes
*/
$colors: (
  red: #d50000,
  red-light: #ff5131,
  red-dark: #9b0000,
  yellow: #ffd600,
  yellow-light: #ffff52,
  yellow-dark: #c7a500,
  blue: #0091ea,
  blue-light: #64c1ff,
  blue-dark: #0064b7,
  green: #64dd17,
  green-light: #9cff57,
  green-dark: #1faa00,
  purple: #aa00ff,
  purple-light: #e254ff,
  purple-dark: #7200ca,
  orange: #ff6d00,
  orange-light: #ff9e40,
  orange-dark: #c43c00,
  pink: #c51162,
  pink-light: #fd558f,
  pink-dark: #8e0038,
  brown: #8d6e63,
  brown-light: #be9c91,
  brown-dark: #5f4339,
  grey: #bdbdbd,
  grey-light: #efefef,
  grey-dark: #8d8d8d,
  navy: #78909c,
  navy-light: #a7c0cd,
  navy-dark: #4b636e,
  carbon: #212121,
  carbon-light: #484848,
  carbon-dark: #000000,
);

@each $name, $color in $colors {
  #{".bg-" + $name} {
    background-color: $color;
  }
  #{".text-" + $name} {
    color: $color;
  }
}
.bg-transparent {
  background-color: $transparent;
}

/*
theme
*/
@mixin dark-theme {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin light-theme {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
