$phone: 280px;
$tablet-portrait: 728px;
$tablet-landscape: 992px;
$laptop: 1400px;
$desktop: 1880px;
$desktop-large: 2540px;

@mixin phone {
  @media only screen and (min-width: $phone) {
    @content;
  }
}
@mixin tablet-portrait {
  @media only screen and (min-width: $tablet-portrait) {
    @content;
  }
}
@mixin tablet-landscape {
  @media only screen and (min-width: $tablet-landscape) {
    @content;
  }
}
@mixin laptop {
  @media only screen and (min-width: $laptop) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-large {
  @media only screen and (min-width: $desktop-large) {
    @content;
  }
}
