$direction-row: row;
$direction-column: column;
$display-flex: flex; 
$item-center: center;
$item-start: flex-start;
$item-end: flex-end;
$justify-center: center;
$jsutify-between: space-between;
$jsutify-around: space-around;
$jsutify-evenly: space-evenly;
$no-wrap: nowrap;
$wrap: wrap;
