@mixin d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.d-flex {
    @include d-flex();
}
@mixin display-inline-flex(){
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}
.d-inline-flex {
    @include display-inline-flex();
}
//flex-direction
@mixin flex-direction($value) {
    flex-direction: $value;
}
@mixin f-dir-col() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.f-dir-col {
   @include f-dir-col();
}
@mixin f-dir-col-reverse() {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.f-dir-col-reverse {
   @include f-dir-col-reverse();
}
@mixin f-dir-row() {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; 
}
.direction-row {
    @include f-dir-row();
}
@mixin f-dir-row-reverse() {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.direction-row-reverse {
  @include f-dir-row-reverse();
}
//flex wrap
@mixin flex-wrap($value) {
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}
.wrap {
    @include flex-wrap(wrap);
}
.nowrap {
    @include flex-wrap(nowrap);
}
.wrap-reverse {
    @include flex-wrap(wrap-reverse);
}
//justify-content
@mixin justify-content($value) {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
    justify-content: $value;
}
@mixin justify-between() {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.justify-between {
    @include justify-between();
}
.justify-evenly {
    @include justify-content(space-evenly);
}
.justify-center{
    @include justify-content(center);
}
@mixin justify-around() {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.justify-around {
    @include justify-around();
}
.justify-stretch {
    @include justify-content(stretch);
}
@mixin justify-start() {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.justify-start {
   @include justify-start();
}
@mixin justify-end() {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.justify-end {
   @include justify-end();
}
.justify-revert {
    @include justify-content(revert);
}
//align-items
@mixin align-items($value) {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
    align-items: $value;
}
.items-base {
    @include align-items(baseline);
}
.items-revert {
    @include align-items(revert);
}
.items-center{
    @include align-items(center);
}
.items-stretch {
    @include align-items(stretch);
}
@mixin items-start() {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.items-start {
    @include items-start();
}
@mixin items-end() {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.items-end {
    @include items-end();
}
//flex-basis
@mixin f-basis($value) {
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}
@for $i from 1 through 100 {
    .f-basis-#{$i} {
        flex-basis : #{1% * $i}
    }
}

