@mixin text-transform($value) {
    text-transform: $value;
}

.text-capitalize {
    @include text-transform(capitalize)
}

.text-lowercase {
    @include text-transform(lowercase)
}

.text-uppercase {
    @include text-transform(uppercase)
}

@mixin text-align($value) {
    text-align: $value;
}

.text-center {
    @include text-align(center);
} 

.text-left {
    @include text-align(left);
}

.text-right {
    @include text-align(right);
}

.text-justify {
    @include text-align(justify);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@mixin text-ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis {
    @include text-ellipsis();
}

@mixin text-overlay() {
    -webkit-filter: drop-shadow(2px 4px 6px black);
    filter: drop-shadow(2px 4px 6px black);
}

.text-overlay {
    @include text-overlay;
}
h1 {
    font-size: 7.2rem;
}
h2 {
    font-size: 6rem;
}
h3 {
    font-size: 4.8em;
}
h4 {
    font-size: 4.2em;
}
h5 {
    font-size: 3.6em;
}
h6 {
    font-size: 3rem;
}
p {
    font-size: 2.4rem;
}