@import "flexbox";
@import "device";

@mixin d-grid {
  display: -ms-grid;
  display: grid;
}
.d-grid {
  @include d-grid();
}
@mixin d-inline-grid() {
  display: -ms-inline-grid;
  display: inline-grid;
}
.d-inline-grid {
  @include d-inline-grid();
}

/*
column-gap
*/
@mixin g-col-gap($value) {
  -webkit-column-gap: $value;
  -moz-column-gap: $value;
  column-gap: $value;
}

/*
row-gap
*/
@mixin row-gap($value) {
  row-gap: $value;
}

/*
G-container
*/
@mixin g-container() {
  @include d-grid();
  @include g-col-gap(2rem);
  @include justify-content(center);
  @include row-gap(2rem);
}

.g-col {
  @include g-container();
}

@mixin g-container-no-rg() {
  @include d-grid();
  @include justify-content(center);
  @include g-col-gap(0);
  @include row-gap(0);
}

@mixin g-container-no-row {
  @include row-gap(0);
}
.g-no-row {
  @include g-container-no-row();
}
@mixin g-container-no-col {
  @include g-col-gap(0);
}
.g-no-col {
  @include g-container-no-col();
}

@mixin g-container-no-r-g {
  @include g-col-gap(0);
  @include row-gap(0);
}
.g-no-row-col {
  @include g-container-no-r-g();
}

/*
grid-template-columns
*/
@mixin g-tmp-col($value) {
  grid-template-columns: $value;
}

@for $i from 1 through 16 {
  .g-col-#{$i} {
    -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
    grid-template-columns: (repeat(#{$i}, 1fr));
  }
}

@include phone {
  @for $i from 1 through 16 {
    .g-col-s-#{$i} {
      -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
      grid-template-columns: (repeat(#{$i}, 1fr));
    }
  }
}

@include tablet-portrait {
  @for $i from 1 through 16 {
    .g-col-m-#{$i} {
      -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
      grid-template-columns: (repeat(#{$i}, 1fr));
    }
  }
}

@include tablet-landscape {
  @for $i from 1 through 16 {
    .g-col-l-#{$i} {
      -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
      grid-template-columns: (repeat(#{$i}, 1fr));
    }
  }
}

@include laptop {
  @for $i from 1 through 16 {
    .g-col-xl-#{$i} {
      -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
      grid-template-columns: (repeat(#{$i}, 1fr));
    }
  }
}

@include desktop {
  @for $i from 1 through 16 {
    .g-col-xxl-#{$i} {
      -ms-grid-columns: (#{"("+1fr+")"}[#{$i}]);
      grid-template-columns: (repeat(#{$i}, 1fr));
    }
  }
}
