@import "flexbox";
@mixin d-grid {
  display: -ms-grid;
  display: grid;
}
.d-grid {
  @include d-grid();
}
@mixin d-inline-grid() {
  display: -ms-inline-grid;
  display: inline-grid;
}
.d-inline-grid {
  @include d-inline-grid();
}

/*
grid-template-columns
*/
@mixin g-tmp-col($value) {
  -ms-grid-columns: $value;
  grid-template-columns: $value;
}
@mixin g-col-1() {
  @include g-tmp-col(1fr);
}
@mixin g-col-2() {
  @include g-tmp-col(1fr 1fr);
}
@mixin g-col-3() {
  @include g-tmp-col(1fr 1fr 1fr);
}
@mixin g-col-4() {
  @include g-tmp-col(1fr 1fr 1fr 1fr);
}
@mixin g-col-5() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-6() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-7() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-8() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-9() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-10() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-11() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}
@mixin g-col-12() {
  @include g-tmp-col(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
}

/*
column-gap
*/
@mixin g-col-gap($value) {
  -webkit-column-gap: $value;
  -moz-column-gap: $value;
  column-gap: $value;
}

/*
row-gap
*/
@mixin row-gap($value) {
  row-gap: $value;
}
%g-container-shared {
  @include d-grid();
  @include g-col-gap(2rem);
  @include justify-content(center);
  @include row-gap(2rem);
}
%g-container-no-r-g-shared {
  @include d-grid();
  @include justify-content(center);
  @include g-col-gap(0);
  @include row-gap(0);
}
/*
g-container
*/
.g-1 {
  @extend %g-container-shared;
  @include g-col-1();
}
.g-2 {
  @extend %g-container-shared;
  @include g-col-2();
}
.g-3 {
  @extend %g-container-shared;
  @include g-col-3();
}
.g-4 {
  @extend %g-container-shared;
  @include g-col-4();
}
.g-5 {
  @extend %g-container-shared;
  @include g-col-5();
}
.g-6 {
  @extend %g-container-shared;
  @include g-col-6();
}
.g-7 {
  @extend %g-container-shared;
  @include g-col-7();
}
.g-8 {
  @extend %g-container-shared;
  @include g-col-8();
}
.g-9 {
  @extend %g-container-shared;
  @include g-col-9();
}
.g-10 {
  @extend %g-container-shared;
  @include g-col-10();
}
.g-11 {
  @extend %g-container-shared;
  @include g-col-11();
}
.g-12 {
  @extend %g-container-shared;
  @include g-col-12();
}
/*
g-container-no-r-g
*/
.g-no-r-g-1 {
  @extend %g-container-no-r-g-shared;
  @include g-col-1();
}
.g-no-r-g-2 {
  @extend %g-container-no-r-g-shared;
  @include g-col-2();
}
.g-no-r-g-3 {
  @extend %g-container-no-r-g-shared;
  @include g-col-3();
}
.g-no-r-g-4 {
  @extend %g-container-no-r-g-shared;
  @include g-col-4();
}
.g-no-r-g-5 {
  @extend %g-container-no-r-g-shared;
  @include g-col-5();
}
.g-no-r-g-6 {
  @extend %g-container-no-r-g-shared;
  @include g-col-6();
}
.g-no-r-g-7 {
  @extend %g-container-no-r-g-shared;
  @include g-col-7();
}
.g-no-r-g-8 {
  @extend %g-container-no-r-g-shared;
  @include g-col-8();
}
.g-no-r-g-9 {
  @extend %g-container-no-r-g-shared;
  @include g-col-9();
}
.g-no-r-g-10 {
  @extend %g-container-no-r-g-shared;
  @include g-col-10();
}
.g-no-r-g-11 {
  @extend %g-container-no-r-g-shared;
  @include g-col-11();
}
.g-no-r-g-12 {
  @extend %g-container-no-r-g-shared;
  @include g-col-12();
}
