@use "height" as h;
@use "flexbox" as fx;
@use "grid" as g;
@use "color" as c;
@use "font" as f;
@use "margin" as m;
@use "padding" as p;

.header {
  &-presentation {
  @include g.g-container();
  @include h.height(calc(50vh - 8rem));
  @include fx.align-items(center);
  @include m.margin-direction(bottom, 8rem);
  @include m.margin-direction(top, 8rem);
  @include p.padding(2rem);
  &-title {
    @include f.text-transform(uppercase);
    font-size: clamp(4.8rem, 3.9600rem + 3.0000vw, 9.6rem);
    letter-spacing: 1.6rem;
    text-align: center;
    width: 100%;
  }
}
}

.header {
  @include g.g-container();
  @include fx.align-items(center);
  @include p.padding(2rem);
  &-title {
    @include f.text-transform(uppercase);
    font-size: clamp(3.2rem, 2.3600rem + 3.0000vw, 8rem);
    letter-spacing: 1.6rem;
    text-align: center;
    width: 100%;
  }
}

.header {
  &-article {
  &-title {
    letter-spacing: .8rem;
  }
}
}
