@use "border" as b;
@use "device" as d;
@use "font" as f;
@use "flexbox" as flx;
@use "grid" as g;
@use "position" as p;

/*
****************************
OBJECT FIT & OBJECT POSITION
****************************
*/
@mixin object-fit($value) {
  -o-object-fit : $value;
   object-fit : $value;
}

@mixin object-position($value) {
  -o-object-position: $value;
   object-position: $value
}

/*
**************
RESPONSIVE IMG
**************
*/
@mixin responsive-img {
  max-width: 100%;
  height: auto;
}


.responsive-img {
  @include responsive-img;
}

/*
***********
ROUNDED IMG
***********
*/
.rounded-img-s {
  @include responsive-img;
  @include b.b-radius(0.8rem);
}

.rounded-img-m {
  @include responsive-img;
  @include b.b-radius(1.6rem);
}

.rounded-img-l {
  @include responsive-img;
  @include b.b-radius(2.4rem);
}

.rounded-img-xl {
  @include responsive-img;
  @include b.b-radius(3.2rem);
}

.rounded-img-xxl {
  @include responsive-img;
  @include b.b-radius(4rem);
}

.rounded-img-smooth {
  @include responsive-img;
  @include b.b-smooth();
}

.circled-img {
  @include responsive-img();
  @include b.b-radius(50%);
}

/*
*************
IMAGE CAPTION
*************
*/
%caption-img-shared {
    overflow: hidden;
}

%caption-img-title-container-shared {
  text-align: center;
}

%caption-img-title-shared {
  font-size: clamp(1.6rem, 1.46rem + 0.5vw, 2.4rem);
}

.caption-img {
    @extend %caption-img-shared;
  &-title-container {
    @extend %caption-img-title-container-shared;
    padding: 1rem;
  }
  &-title {
    @extend %caption-img-title-shared;
  }
}

/*
*************
IMAGE GALLERY
*************
*/
%image-gallery-shared {
  @include g.d-grid();
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  @include d.tablet-portrait() {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  @include d.desktop() {
    grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  }
  grid-auto-flow: dense;
}

%image-fit-shared {
  @include flx.align-self(stretch);
  @include flx.justify-self(stretch);
  @include object-fit(cover);
}

.image-gallery {
  @extend %image-gallery-shared;
  @include g.g-col-gap(2rem);
  @include g.row-gap(2rem);
}

/*
No col & no row gap
*/
.image-gallery-no-row-col {
  @extend %image-gallery-shared;
  @include g.g-col-gap(0);
  @include g.row-gap(0);
}

.image-fit {
@extend %image-fit-shared;
}

.image-fit-portrait {
  grid-row: auto / span 2;
}

.image-fit-landscape {
  grid-column: auto / span 2;
}

.image-fit-square {
  grid-row: auto / span 2;
}