@use 'border' as b;
@use 'color' as c;
@use 'device' as d;
@use 'flexbox' as flx;
@use 'font' as f;
@use 'utility' as u;

/*
****************
LIST & ACCORDION
****************
*/
%list-shared {
  @include flx.d-flex();
  @include flx.align-items(center);
}

.list-content {
  @extend %list-shared;
  @include flx.f-dir-col();
  @include flx.items-start();
  @include d.tablet-portrait() {
    @include flx.justify-between();
    @include flx.f-dir-row();
    @include flx.align-items(center);
  }
  .list-center-zone {
    margin-bottom: 2rem;
    margin-top: 2rem;
    @include d.tablet-portrait() {
      margin-bottom: unset;
      margin-top: unset;
    }
  }
  .list-left-zone {
    &-image {
      @extend %list-shared;
    }
  }
}

.accordion-container {
  &-cta {
    @extend %list-shared;
    @include flx.justify-between();
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .list-container {
    -webkit-transition: max-height u.$time linear;
    transition: max-height u.$time linear;
  }
  .list-content {
    padding: 2rem;
    @include b.b-bottom(c.$grey);
  }
}
//close
.accordion-close {
  max-height: 0;
  overflow: hidden;
}
//open
.accordion-open {
  max-height: 50vh;
  overflow: auto;
}

//Rotate the caret
.accordion-rotate-trigger {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*
****************
ACCORDION COLORS
****************
*/
.accordion {
  &-yellow {
    background-color: c.$yellow;
    color: c.$carbon;
    ion-icon {
      color: c.$carbon;
    }
    + .list-container {
      background-color: c.$yellow-light;
      @include b.b-bottom(c.$yellow-dark);
      color: c.$carbon;
      .list-content {
        @include b.b-bottom(c.$yellow-dark);
      }
    }
  }
  &-orange {
    background-color: c.$orange;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$orange-light;
      @include b.b-bottom(c.$orange-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$orange-dark);
      }
    }
  }
  &-red {
    background-color: c.$red;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$red-light;
      @include b.b-bottom(c.$red-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$red-dark);
      }
    }
  }
  &-purple {
    background-color: c.$purple;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$purple-light;
      @include b.b-bottom(c.$purple-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$purple-dark);
      }
    }
  }
  &-blue {
    background-color: c.$blue;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$blue-light;
      @include b.b-bottom(c.$blue-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$blue-dark);
      }
    }
  }
  &-green {
    background-color: c.$green;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$green-light;
      @include b.b-bottom(c.$green-dark);
      color: c.$carbon;
      .list-content {
        @include b.b-bottom(c.$green-dark);
      }
    }
  }
  &-pink {
    background-color: c.$pink;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$pink-light;
      @include b.b-bottom(c.$pink-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$pink-dark);
      }
    }
  }
  &-turquoise {
    background-color: c.$turquoise;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$turquoise-light;
      @include b.b-bottom(c.$turquoise-dark);
      color: c.$carbon;
      .list-content {
        @include b.b-bottom(c.$turquoise-dark);
      }
    }
  }
  &-brown {
    background-color: c.$brown;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$brown-light;
      @include b.b-bottom(c.$brown-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$brown-dark);
      }
    }
  }
  &-grey {
    background-color: c.$grey;
    color: c.$carbon;
    ion-icon {
      color: c.$carbon;
    }
    + .list-container {
      background-color: c.$grey-light;
      @include b.b-bottom(c.$grey-dark);
      color: c.$carbon;
      .list-content {
        @include b.b-bottom(c.$grey-dark);
      }
    }
  }
  &-navy {
    background-color: c.$navy;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$navy-light;
      @include b.b-bottom(c.$navy-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$navy-dark);
      }
    }
  }
  &-black {
    background-color: c.$carbon;
    color: c.$white;
    ion-icon {
      color: c.$white;
    }
    + .list-container {
      background-color: c.$carbon-light;
      @include b.b-bottom(c.$carbon-dark);
      color: c.$white;
      .list-content {
        @include b.b-bottom(c.$carbon-dark);
      }
    }
  }
}

/*
*******
DETAILS
*******
*/

%details-shared {
  @include b.border(c.$grey);
  margin-bottom: 1rem;
}

%details-summary-shared {
  font-size: clamp(1.6rem, 1.5009rem + 0.354vw, 2.4rem);
  padding: 2rem;
}

%details-text-shared {
  @include b.b-top(c.$grey);
  margin: 0;
  padding: 2rem;
  @include f.text-align(justify);
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.details {
  @extend %details-shared;
  &-summary {
    @extend %details-summary-shared;
  }

  &-text {
    @extend %details-text-shared;
  }
}
