@mixin margin($value) {
  margin: $value;
}

@for $i from 1 through 16 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
}

@for $i from 1 through 16 {
  .m-t-#{$i} {
    margin-top: #{$i}rem;
  }
}

@for $i from 1 through 16 {
  .m-b-#{$i} {
    margin-bottom: #{$i}rem;
  }
}

@for $i from 1 through 16 {
  .m-l-#{$i} {
    margin-left: #{$i}rem;
  }
}

@for $i from 1 through 16 {
  .m-r-#{$i} {
    margin-right: #{$i}rem;
  }
}

@mixin margin-direction($margin, $value) {
  margin-#{$margin}: $value;
}

.m-l-auto {
  @include margin-direction(left, auto);
}
.m-r-auto {
  @include margin-direction(right, auto);
}
.m-t-auto {
  @include margin-direction(top, auto);
}
.m-b-auto {
  @include margin-direction(bottom, auto);
}
.m-x-auto {
  @include margin-direction(left, auto);
  @include margin-direction(right, auto);
}
.m-y-auto {
  @include margin-direction(top, auto);
  @include margin-direction(bottom, auto);
}
.m-0 {
  @include margin(0);
}

.m-t-0 {
  @include margin-direction(top, 0);
}

.m-r-0 {
  @include margin-direction(right, 0);
}

.m-b-0 {
  @include margin-direction(bottom, 0);
}

.m-l-0 {
  @include margin-direction(left, 0);
}
