@mixin margin($value) {
  margin: $value;
}

@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
}

@for $i from 1 through 10 {
  .m-t-#{$i} {
    margin-top: #{$i}rem;
  }
}

@for $i from 1 through 10 {
  .m-b-#{$i} {
    margin-bottom: #{$i}rem;
  }
}

@for $i from 1 through 10 {
  .m-l-#{$i} {
    margin-left: #{$i}rem;
  }
}

@for $i from 1 through 10 {
  .m-r-#{$i} {
    margin-right: #{$i}rem;
  }
}

@mixin margin-direction($margin, $value) {
  margin-#{$margin}: $value;
}
