@use "border" as b;
@use "color" as c;
@use "device" as d;
@use "flexbox" as f;
@use "padding" as p;
@use "position" as pos;
@use "utility" as u;
@use "width" as w;

/*
************
NOTIFICATION
************
*/
%notification-shared {
  -webkit-animation-name: notificationRight;
  animation-name: notificationRight;
  -webkit-animation-duration: u.$time;
  animation-duration: u.$time;
  @include pos.position(fixed);
  z-index: 1;
  @include w.width(27.75rem);
  top: 8rem;
  right: 0;
}
%notification-header-shared {
  @include f.d-flex();
  @include f.align-items(center);
  @include f.justify-between();
}
%notification-text-shared {
  font-size: 1.6rem;
  margin: 0;
  font-weight: 400;
}
%notification-body-shared {
  background-color: c.$white;
  @include p.padding(1.6rem 1rem);
  @include u.b-shadow();
}
%notification-body-text-shared {
  @extend %notification-text-shared;
  color: c.$carbon;
}

%notification-close-shared {
  position: absolute;
  left: -5.6rem;
  top: 25%;
}

.notification {
  @extend %notification-shared;
  &-header {
    @extend %notification-header-shared;
    background-color: c.$grey;
    color: c.$carbon;
    @include p.padding(1rem);
    ion-icon {
      color: c.$carbon;
    }
  }
  &-body {
    @extend %notification-body-shared;
    &-text {
      @extend %notification-body-text-shared;
    }
  }
  &-text {
    @extend %notification-text-shared;
  }
  &-close {
    @extend %notification-close-shared;
  }
}

.notification-alert {
  @extend %notification-shared;
  .notification-header {
    @extend %notification-header-shared;
    background-color: c.$red;
    color: c.$white;
    @include p.padding(1rem);
    ion-icon {
      color: c.$white;
    }
  }
  .notification-body {
    @extend %notification-body-shared;
    &-text {
      @extend %notification-body-text-shared;
    }
  }
  .notification-text {
    @extend %notification-text-shared;
  }
  .notification-close {
    @extend %notification-close-shared;
  }
}

.notification-check {
  @extend %notification-shared;
  .notification-header {
    @extend %notification-header-shared;
    background-color: c.$green;
    color: c.$white;
    @include p.padding(1rem);
    ion-icon {
      color: c.$white;
    }
  }
  .notification-body {
    @extend %notification-body-shared;
    &-text {
      @extend %notification-body-text-shared;
    }
  }
  .notification-text {
    @extend %notification-text-shared;
  }
  .notification-close {
    @extend %notification-close-shared;
  }
}

.notification-info {
  @extend %notification-shared;
  .notification-header {
    @extend %notification-header-shared;
    background-color: c.$blue;
    color: c.$white;
    @include p.padding(1rem);
    ion-icon {
      color: c.$white;
    }
  }
  .notification-body {
    @extend %notification-body-shared;
    &-text {
      @extend %notification-body-text-shared;
    }
  }
  .notification-text {
    @extend %notification-text-shared;
  }
  .notification-close {
    @extend %notification-close-shared;
  }
}

/*
*****
MODAL
*****
*/

%modal-shared {
  background-color: c.$white;
  color: c.$carbon;
  @include b.b-smooth();
  @include u.b-shadow();
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: modalOpening;
  animation-name: modalOpening;
  -webkit-animation-duration: u.$time;
  animation-duration: u.$time;
}

%modal-header-shared {
  @extend %notification-header-shared;
  padding: 1rem;
  ion-icon {
    color: c.$carbon;
  }
}

%modal-body-shared {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

%modal-footer-shared {
  @extend %notification-header-shared;
  margin-top: auto;
}

%modal-close-shared {
  position: static;
}

%modal-text-shared {
  font-size: clamp(1.6rem, 1.46rem + 0.5vw, 2.4rem);
}

%modal-size-shared {
  max-width: calc(100vw - 4rem);
  width: 100%;
}

.modal-s {
  @extend %modal-shared;
  .modal-body {
    @extend %modal-body-shared;
  }
  .modal-text {
    @extend %modal-text-shared;
  }
  .modal-header,
  .modal-footer {
    @extend %modal-header-shared;
  }
  .notification-close {
    @extend %modal-close-shared;
  }
  .modal-footer {
    padding: 1rem;
  }
}
.modal-m {
  @extend %modal-shared;
  @extend %modal-size-shared;
  @include d.tablet-portrait() {
    max-width: 72.8rem;
  }
  .modal-body {
    @extend %modal-body-shared;
  }
  .modal-text {
    @extend %modal-text-shared;
  }
  .modal-header,
  .modal-footer {
    @extend %modal-header-shared;
  }
  .notification-close {
    @extend %modal-close-shared;
  }
  .modal-footer {
    padding: 1rem;
  }
}
.modal-l {
  @extend %modal-shared;
  @extend %modal-size-shared;
  @include d.tablet-landscape() {
    max-width: 98.4rem;
  }
  .modal-body {
    @extend %modal-body-shared;
  }
  .modal-text {
    @extend %modal-text-shared;
  }
  .modal-header,
  .modal-footer {
    @extend %modal-header-shared;
  }
  .notification-close {
    @extend %modal-close-shared;
  }
  .modal-footer {
    padding: 1rem;
  }
}
.modal-xl {
  @extend %modal-shared;
  @extend %modal-size-shared;
  @include d.laptop() {
    max-width: 120rem;
  }
  .modal-body {
    @extend %modal-body-shared;
  }
  .modal-text {
    @extend %modal-text-shared;
  }
  .modal-header,
  .modal-footer {
    @extend %modal-header-shared;
  }
  .notification-close {
    @extend %modal-close-shared;
  }
  .modal-footer {
    padding: 1rem;
  }
}
.modal-xxl {
  @extend %modal-shared;
  @extend %modal-size-shared;
  @include d.desktop() {
    max-width: 136.6rem;
  }
  .modal-body {
    @extend %modal-body-shared;
  }
  .modal-text {
    @extend %modal-text-shared;
  }
  .modal-header,
  .modal-footer {
    @extend %modal-header-shared;
  }
  .notification-close {
    @extend %modal-close-shared;
  }
  .modal-footer {
    padding: 1rem;
  }
}

/*
*********
ANIMATION
*********
*/
//Notificatin
@-webkit-keyframes notificationRight {
  from {
    -webkit-transform: translateX(28rem);
    transform: translateX(28rem);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes notificationRight {
  from {
    -webkit-transform: translateX(28rem);
    transform: translateX(28rem);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

//Modal
@-webkit-keyframes modalOpening {
  from {
    -webkit-transform: scale(0, 0) translate(-50%, -50%);
    transform: scale(0, 0) translate(-50%, -50%);
  }
  to {
    -webkit-transform: scale(1, 1) translate(-50%, -50%);
    transform: scale(1, 1) translate(-50%, -50%);
  }
}
@keyframes modalOpening {
  from {
    -webkit-transform: scale(0, 0) translate(-50%, -50%);
    transform: scale(0, 0) translate(-50%, -50%);
  }
  to {
    -webkit-transform: scale(1, 1) translate(-50%, -50%);
    transform: scale(1, 1) translate(-50%, -50%);
  }
}
