@mixin position($value) {
  position: $value;
}
.pos-relative {
  @include position(relative);
}
.pos-absolute {
  @include position(absolute);
}
.pos-fixed {
  @include position(fixed);
}
.pos-fixed-top {
  @include position(fixed);
  top: 0;
}
.pos-fixed-right {
  @include position(fixed);
  right: 0;
}
.pos-fixed-bottom {
  @include position(fixed);
  bottom: 0;
}
.pos-fixed-left {
  @include position(fixed);
  left: 0;
}
.pos-sticky {
  position: -webkit-sticky;
  position: sticky
}

@mixin pos-absolute-centering() {
  @include position(absolute);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-absolute-centering {
  @include pos-absolute-centering();
}
