@use "color" as c;
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none !important;
}

html {
  font-size: calc(1em * 0.625);
  line-height: 1.15;
  overflow: scroll; //TODO
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  font-size: 1.6rem;
  line-height: 1.55;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
mark,
strong,
summary,
button,
mark,
small,
address,
blockquote,
cite,
a,
details,
span,
summary,
input,
code,
pre,
samp {
  font-weight: 400;
  margin: 0;
}

p,
li {
  font-weight: 300;
}

b,
strong {
  font-weight: bolder;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote,
figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[hidden] {
  display: none;
}

code,
pre,
samp {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

img,
svg {
  vertical-align: middle;
}

nav ul li,
a {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

a {
  background-color: transparent;
  text-decoration: none;
}

address {
  font-style: normal;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

button {
  border: 0;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

caption {
  text-align: left;
  caption-side: bottom;
}

details {
  cursor: pointer;
  display: block;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  border-style: none;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

li {
  list-style: none;
}

main {
  display: block;
}

mark {
  display: inline-block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

progress {
  vertical-align: baseline;
}

small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
}

summary {
  display: list-item;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

th {
  text-align: inherit;
}

ul {
  padding-inline-start: 0;
}

:root {
  color-scheme: light dark;
}

@include c.dark-theme {
  body {
    color: c.$text-dark;
    background: c.$black-dark;
  }
  img {
    -webkit-filter: brightness(0.8) contrast(1.2);
    filter: brightness(0.8) contrast(1.2);
  }
  a,
  nav ul li {
    color: c.$blue;
  }
}

@include c.light-theme {
  body {
    color: c.$text-light;
    background: c.$white-dark;
  }
  a,
  nav ul li {
    color: c.$blue;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: unset !important;
    transition: none !important;
  }
}
