@use "color" as c;

$time: 0.28s;
@mixin transition($property, $time) {
  -webkit-transition: $property $time;
  -o-transition: $property $time;
  transition: $property $time;
}
@mixin d-none {
  display: none;
}
.d-none {
  @include d-none;
}
@mixin d-block {
  display: block;
}
.d-block {
  @include d-block;
}
@mixin d-inline-block {
  display: inline-block;
}
.d-inline-block {
  @include d-inline-block;
}
@mixin b-shadow {
  @include c.light-theme() {
    box-shadow: 0 5px 10px c.$color-shadow;
  }
  @include c.dark-theme() {
    box-shadow: 0 5px 10px c.$color-shadow-dark;
  }
}

@mixin b-shadow-hovered {
  @include transition(box-shadow, $time);
  @include c.dark-theme() {
    box-shadow: 10px 15px 10px c.$carbon;
  }
  @include c.light-theme() {
    box-shadow: 10px 15px 10px c.$color-shadow;
  }
}

.b-shadow {
  @include b-shadow();
}
.b-shadow-hovered {
  @include b-shadow();
  &:hover {
    @include transition(box-shadow, $time);
    @include b-shadow-hovered();
  }
}

.b-shadow-inset {
  @include c.dark-theme() {
    -webkit-box-shadow: inset 0 0 8px 0px #000000;
    box-shadow: inset 0 0 8px 0px #000000;
  }
  @include c.light-theme() {
    -webkit-box-shadow: inset 0 0 8px 0px #00000030;
    box-shadow: inset 0 0 8px 0px #00000030;
  }
}

.op-0 {
  opacity: 0
}
.op-01 {
  opacity: .1;
}
.op-02 {
  opacity: .2;
}
.op-03 {
  opacity: .3;
}
.op-04 {
  opacity: .4;
}
.op-05 {
  opacity: .5;
}
.op-06 {
  opacity: .6;
}
.op-07 {
  opacity: .7;
}
.op-08 {
  opacity: .8;
}
.op-09 {
  opacity: .9;
}
.op-1 {
  opacity: 1
}
